%h2 #{@video.title}

%iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "0", :height => "430", :src => "http://www.youtube.com/embed/#{@video.video_id}", :title => "YouTube video player", :width => "640"}