%h2 #{@video.title}

- if @video.video_provider == "YouTube"
  %iframe{:allowfullscreen => "allowfullscreen", :frameborder => "0", :src => "http://www.youtube.com/embed/#{@video.video_id}", :height => "540", :width => "960"}
- elsif @video.video_provider == "Vimeo"
  %iframe{:allowfullscreen => "", :frameborder => "0", :height => "562", :mozallowfullscreen => "", :src => "//player.vimeo.com/video/#{@video.video_id}", :webkitallowfullscreen => "", :width => "1000"}

%h4 Submitted by #{@video.user.username}
