.container
  .navbar-header.orange-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    = link_to("flyfree.me", root_path, class: "navbar-brand")
  .collapse.navbar-collapse
    %ul.nav.navbar-nav
      %li.active
        %a{:href => "#"} Home
      %li
        %a{:href => "#about"} About
      %li
        %a{:href => "#contact"} Contact