- title "About flyfree.me"

.row
  .col-sm-10.profile-content
    %h3 flyfree.me - The Most Comprehensive Skydiving and BASE Jumping Collection
    %p flyfree.me was created to be the sole repository for all skydiving and BASE jumping videos on the internet. There are many other websites that feature videos, but there isn't any one place for ALL of the skydiving and BASE jumping videos to live. Now, flyfree.me is that place. Soon, flyfree.me will be the most comprehensive source of skydiving and BASE jumping videos on the internet.
    %h3 Featured Videos
    %p Every day we pick the best videos and feature them on the top of our home page. You can browse only the featured videos, or you can look through all of the videos that have been submitted. We are in the process of implementing better categorization and searching features. 
    %h3 The flyfree.me Experience
    %p We really do want this to be the best video sharing experience possible, so we promise to NEVER sell your information and will stay ad-free for as long as possible. 