.row
  .col-sm-10.profile-content
    %h3 Contact flyfree.me
    %p If you have any questions or concerns including bug reports or account issues please email admin@flyfree.me and we will respond as soon as possible.