.row.row-offcanvas.row-offcanvas-right
  .col-xs-12
    .jumbotron.logo
      %h1 flyfree.me
      %p The home for Skydiving and BASE jumping videos submitted by you!
      %ul.list-inline
        %li
          = link_to "Sign In", sign_in_path
        %li or
        %li 
          = link_to "Sign Up", register_path
        %li to
        %li
          = link_to(new_video_path, class: "btn btn-primary") do
            Submit a Video &raquo;
    .row
      %h2.logo Featured Videos
    .row
      - @videos.each do |video|
        .col-6.col-sm-6.col-lg-4
          = link_to image_tag(video.thumbnail, size: "320x180"), video_path(video)
          