!!! 5
%html(lang="en-US")
  %body
    %p Welcome to flyfree.me, #{@user.username}!
    %p We don't believe in spamming our users with emails, so this is likely the last you'll hear from us. We hope you enjoy flyfree.me!