div.video-thumbnail
  float: left
div.title-bar
  background: #1b1b1b
  width: 334px
  height: 30px
  margin-top: 171px
  padding-left: 8px
  a
    color: white
    text-decoration: none
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
    font-size: 18px
div.title-clear
  background: none
  height: 15px
  width: 320px
div.voting
  background: #1b1b1b
  height: 171px
  width: 30px
  float: left
  text-align: center
  p
    padding-top: 25px
    color: #FF7900
  span
    padding-top: 25px
    color: #FF7900